.ui3-alert .ui3-dialog-content{
    font-size: 16px;
    text-align: center;
    color: #666;
    line-height: 24px;
}

.ui3-alert.ui3-dialog-not{
    padding-top: 27px;
}

.ui3-alert .ui3-dialog-title{
    margin-top: 50px;
    height: auto;
    text-align: center;
    line-height: 22px;
    border: 0px;
}

.ui3-alert-icon{
    width: 78px;
    height: 78px;
    margin: auto;
    background: url('./imgs/notice.png') no-repeat center center;
    margin-bottom: 15px;
    display: block;
}

.ui3-alert-success .ui3-alert-icon{
    background-image: url('./imgs/success.png');
}

.ui3-alert-error .ui3-alert-icon{
    background-image: url('./imgs/error.png');
}

.ui3-alert .ui3-alert-extra{
    font-size: 12px;
    line-height: 25px;
    margin: 9px 40px 0px 40px;
}